<main class="main-content">
  <h1 class="visually-hidden">Sidebars examples</h1>
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 208px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <i class="fa fa-home me-2"></i>
          Editor
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#speedometer2"></use>
          </svg>
          Billing
        </a>
      </li>
      <hr>

      <div href="/" class="d-flex align-items-center mb-3 mb-md-0 m-auto text-white text-decoration-none">
        <span class="fs-4 my-3">My projects:</span>
      </div>

      <li class="text-center">
        {# /public/codestepper-files/{{codeStepper.slug}} #}
        <form action="/schema" method="POST">
          <button type="submit" class="btn btn-success w-100">
            Add new
            <i class="fa fa-plus"></i>
          </button>
        </form>
      </li>

      {% for codeStepper in codeSteppers %}
        <li class="m-2">
          <div class="row">
            <a href="/edit/{{codeStepper.slug}}" class="nav-link text-white w-100 d-inline-block {{codeStepper.slug == activeCodeStepperSlug ? 'active' : ''}}">
              {{codeStepper.title}}
            </a>
          </div>
        </li>
      {% endfor %}

    </ul>
  </div>

  <div class="b-example-divider"></div>

  {% if codeStepper.slug is not empty %}

    <div style="min-height: 700px" class="code-stepper-editor" data-schema-url="/public/codestepper-files/{{codeStepper.slug}}" data-is-dev="1">
      Betöltés...
    </div>

  {% else %}
    <div class="w-100 rounded border m-3" style="height: calc(100vh - 150px)"></div>
  {% endif %}
  <div id="modal123-container" data-code-stepper-scripts="{{codeStepperScripts}}" data-code-stepper-styles="{{codeStepperStyles}}" data-site-url="{{siteUrl}}"></div>
</main>