<main class="main-content">
	{{sidebar | raw}}

	{% if codeStepper.slug is not empty %}

		<div class="content-body overflow-y-scroll">
			<div class="code-stepper-editor" data-schema-url="{{siteUrl}}/public/codestepper-files/{{codeStepper.slug}}">
				Betöltés...
			</div>
		</div>

	{% else %}
		<div class="w-100 rounded border m-3" style="height: calc(100vh - 150px)"></div>
	{% endif %}
	<div id="modal123-container" data-schema-id="{{codeStepper.slug}}" data-site-url="{{siteUrl}}"></div>
</main>
