<main class="main-content">
	<div class="d-flex flex-column flex-shrink-0 px-2 text-white bg-dark" style="width: 208px;">
		<ul class="nav nav-pills flex-column py-2">
      <li class="nav-item">
				<a href="/" class="nav-link text-white">
					<i class="fa fa-home mx-1"></i>
					<span>Home</span>
				</a>
			</li>
      <li class="nav-item">
        <a href="#" class="nav-link active">
          <i class="fa fa-edit mx-1"></i>
          <span>Editor (trial mode)</span>
        </a>
      </li>
      <li>
        <a href="/sign-up" class="nav-link text-white">
          <i class="fa fa-user mx-1"></i>
          <span>Sign up for free</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <i class="fa fa-question mx-1"></i>
          <span>Support</span>
        </a>
      </li>

    </ul>
    <hr>
    <div class="d-flex mb-md-0 text-white text-decoration-none justify-content-center py-2">
			<span class="fs-4">My projects:</span>
		</div>

		<div class="text-center my-3">
			<form action="/schema" method="POST">
				<button type="submit" class="btn btn-outline-success w-100">
					Add new
					<i class="fa fa-plus"></i>
				</button>
			</form>
		</div>

		<ul class="nav nav-pills flex-column" style="display: block;">
			{% for codeStepper in codeSteppers %}
				<li class="px-1">
					<div class="row">
						<a href="/edit/{{codeStepper.slug}}" class="nav-link text-white w-100 d-inline-block {{codeStepper.slug == activeCodeStepperSlug ? 'active' : ''}}">
							{{codeStepper.title}}
						</a>
					</div>
				</li>
			{% endfor %}

		</ul>
  </div>

  <div class="b-example-divider"></div>

  {% if codeStepper.slug is not empty %}

    <div class="content-body">
      <div class="code-stepper-editor" data-schema-url="{{siteUrl}}/public/codestepper-files/{{codeStepper.slug}}">
        Betöltés...
      </div>
    </div>

  {% else %}
    <div class="w-100 rounded border m-3" style="height: calc(100vh - 150px)"></div>
  {% endif %}
  <div id="modal123-container" data-schema-id="{{codeStepper.slug}}" data-site-url="{{siteUrl}}"></div>
</main>