{% set usagePercent = order.count / planQuotaMap[order.plan] * 100 %}
<main class="main-content text-light" style="background: #303030">
	{{sidebar | raw}}

	<div class="mb-3 content-body my-2 w-100">

		{% if error == 'startFailed' %}
			<div class="alert alert-danger p-1 pe-2 ps-2 w-100 text-center">
				<p style="font-size:14px">
					<span>An error occured please try again!</span>
				</p>
			</div>
		{% endif %}
		{% if error == 'transactionFailed' %}
			<div class="alert alert-danger p-1 pe-2 ps-2 w-100 text-center">
				<p style="font-size:14px">
					<span>Failed transaction!</span><br/>
					SimplePay transaction identifier:
					{{transactionId}}
					<br/>
					Please check if the details provided during the transaction are correct. If all the details were provided correctly, please contact the bank that issued your card in order to investigate the cause of the rejection.
				</p>
			</div>
		{% endif %}
		{% if error == 'transactionCancelled' %}
			<div class="alert alert-danger p-1 pe-2 ps-2 w-100 text-center">
				<p style="font-size:14px">
					<span>Cancelled payment!</span><br/>
				</p>
			</div>
		{% endif %}
		{% if error == 'transactionTimeout' %}
			<div class="alert alert-danger p-1 pe-2 ps-2 w-100 text-center">
				<p style="font-size:14px">
					<span>You exceeded the maximum time available to start the transaction.</span><br/>
				</p>
			</div>
		{% endif %}
		{% if transactionSuccessful is defined and transactionId != "" %}
			<div class="alert alert-success p-1 pe-2 ps-2 w-100 text-center">
				<p style="font-size:14px">
					<span>Successful transaction!</span>
				</p>
				<p style="font-size:14px">
					SimplePay transaction identifier:
					{{transactionId}}
				</p>
			</div>
		{% endif %}

		<div class="row my-3 w-100 m-auto">

			<div class="col-md-12 px-4">
				<h1 class="display-6 text-center py-1">
					Current usage:
				</h1>

				<div class="my-3">
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: {{usagePercent | number_format}}%;">
							{{usagePercent | number_format}}%
						</div>
					</div>
					<div class="text-center my-1">
						{{order.count}}
						/
						{{planQuotaMap[order.plan]}}
					</div>	
          <div class="text-center my-1" style="color: #a6a6a6">
						(Resets monthly)
					</div>
				</div>

				{% if usagePercent >= 100 %}
					<div class="text-center text-danger">
						Usage quota exceeded!
					</div>
				{% endif %}


				{% if order.plan != "lite" %}
					<h2 class="text-center py-3">
						Valid until:
						{{activeUntil | date("m/d/Y")}}
					</h2>
				{% endif %}

			</div>
		</div>


		{% if order.plan == "lite" %}

			<div class="row mb-3 w-100 m-auto">

				<div class="col-md-12">
					<h1 class="display-6 text-center">
						Select your Plan 14-day money back guarantee.
					</h1>

					<p class="text-center">
						<i>Risk-free, you can cancel at anytime.</i>
					</p>

					<div class="popup-select-plan-table-container m-2" ng-if="(!subscription || subscription.plan.parameters.apps_count == 1) &amp;&amp; !config.showOnlyPacks">
						<div class="popup-select-plan-table">

							<div class="popup-select-plan-table-col" >
								<div class="popup-select-plan-table-head popup-select-plan-table-cell">


									<div class="popup-select-plan-table-head-title ng-binding" ng-if="plan.periods.monthly.price > 0">
										Enterprise
									</div>


									<div class="popup-select-plan-table-head-caption ng-binding" >Best for high traffic websites and agencies</div>
								</div>

								<div class="popup-select-plan-table-price popup-select-plan-table-cell">


									<div class="popup-select-plan-table-price" ng-if="plan.periods.monthly.price > 0">
										<div class="popup-select-plan-table-price-block">
											<span class="popup-select-plan-table-price-block-currency">$</span>
											<span class="popup-select-plan-table-price-block-value ng-binding">25</span>
											<span class="popup-select-plan-table-price-block-delimiter">/</span>
											<span class="popup-select-plan-table-price-block-period" translate="">mo</span>
										</div>

										<div class="popup-select-plan-table-price-select-button-wrapper">
											<form action="/upgrade-plan/enterprise" method="POST">
												<button type="submit" class="popup-select-plan-table-price-select-button button-40 button button-green">
													<span>Pay yearly</span>
												</button>
											</form>
										</div>

									</div>

								</div>

								<div class="popup-select-plan-table-cell">
									<div class="popup-select-plan-table-feature ng-binding">
										5,000,000
										<translate>views</translate>
										<br/>
										<small class="small">(Resets monthly)</small>

										<div class="popup-select-plan-table-cell-views-info tooltip">
											<svg width="2" height="8" viewbox="0 0 2 8">
												<rect y="3" width="2" height="5" rx="1" ry="1"></rect>
												<rect width="2" height="2" rx="1" ry="1"></rect>
											</svg>

											
										</div>
									</div>

									<div class="popup-select-plan-table-feature">


										<span>
											Premium support</span>

									</div>

									<div class="popup-select-plan-table-feature"  translate="">Free installation service</div>

									<div class="popup-select-plan-table-feature"  translate="">CodeStepper logo removal</div>
								</div>
							</div>

							<div class="popup-select-plan-table-col popup-select-plan-table-col-highlight">
								<div class="popup-select-plan-table-head popup-select-plan-table-cell">


									<div class="popup-select-plan-table-head-title ng-binding" ng-if="plan.periods.monthly.price > 0">
										Pro
									</div>


									<div class="popup-select-plan-table-head-caption ng-binding" >Best for growing businesses</div>
								</div>

								<div class="popup-select-plan-table-price popup-select-plan-table-cell">

									<div class="popup-select-plan-table-price" ng-if="plan.periods.monthly.price > 0">
										<div class="popup-select-plan-table-price-block">
											<span class="popup-select-plan-table-price-block-currency">$</span>
											<span class="popup-select-plan-table-price-block-value ng-binding">10</span>
											<span class="popup-select-plan-table-price-block-delimiter">/</span>
											<span class="popup-select-plan-table-price-block-period" translate="">mo</span>
										</div>


										<div class="popup-select-plan-table-price-select-button-wrapper">

											<form action="/upgrade-plan/pro" method="POST">
												<button type="submit" class="popup-select-plan-table-price-select-button button-40 button button-green">

													<span>Pay yearly</span>
												</button>
											</form>
										</div>
									</div>

								</div>

								<div class="popup-select-plan-table-cell">
									<div class="popup-select-plan-table-feature ng-binding">
										50,000
										<br/>
										<small class="small">(Resets monthly)</small>

										<div class="popup-select-plan-table-cell-views-info tooltip">
											<svg width="2" height="8" viewbox="0 0 2 8">
												<rect y="3" width="2" height="5" rx="1" ry="1"></rect>
												<rect width="2" height="2" rx="1" ry="1"></rect>
											</svg>

											
										</div>
									</div>


									<div class="popup-select-plan-table-feature">
										<span>
											Premium support
										</span>
									</div>

									<div class="popup-select-plan-table-feature"  translate="">Free installation service</div>

									<div class="popup-select-plan-table-feature"  translate="">CodeStepper logo removal</div>
								</div>
							</div>

							<div class="popup-select-plan-table-col">
								<div class="popup-select-plan-table-head popup-select-plan-table-cell">

									<div class="popup-select-plan-table-head-title ng-binding" ng-if="plan.periods.monthly.price > 0">
										Basic
									</div>


									<div class="popup-select-plan-table-head-caption ng-binding" >Best for low-traffic websites</div>
								</div>

								<div class="popup-select-plan-table-price popup-select-plan-table-cell">
									<div class="popup-select-plan-table-price" ng-if="plan.periods.monthly.price > 0">
										<div class="popup-select-plan-table-price-block">
											<span class="popup-select-plan-table-price-block-currency">$</span>
											<span class="popup-select-plan-table-price-block-value ng-binding">5</span>
											<span class="popup-select-plan-table-price-block-delimiter">/</span>
											<span class="popup-select-plan-table-price-block-period" translate="">mo</span>
										</div>

										<div class="popup-select-plan-table-price-select-button-wrapper">
											<form action="/upgrade-plan/basic" method="POST">
												<button type="submit" class="popup-select-plan-table-price-select-button button-40 button button-green">

													<span>Pay yearly</span>


												</button>
											</form>
										</div>

									</div>

								</div>

								<div class="popup-select-plan-table-cell">
									<div class="popup-select-plan-table-feature ng-binding">
										5,000
										<translate>views</translate>
										<br/>
										<small class="small">(Resets monthly)</small>

										<div class="popup-select-plan-table-cell-views-info tooltip">
											<svg width="2" height="8" viewbox="0 0 2 8">
												<rect y="3" width="2" height="5" rx="1" ry="1"></rect>
												<rect width="2" height="2" rx="1" ry="1"></rect>
											</svg>

											
										</div>
									</div>


									<div class="popup-select-plan-table-feature">


										<span>
											Premium support</span>

									</div>

									<div class="popup-select-plan-table-feature"  translate="">Free installation service</div>

									<div class="popup-select-plan-table-feature"  translate="">CodeStepper logo removal</div>
								</div>
							</div>

							<div class="popup-select-plan-table-col popup-select-plan-table-col-current">
								<div class="popup-select-plan-table-head popup-select-plan-table-cell">

									<div class="popup-select-plan-table-head-title ng-binding" >
										Lite
									</div>
									<!-- end ngIf: plan.periods.monthly.price == 0 -->


									<div class="popup-select-plan-table-head-caption ng-binding" >Good for testing purposes and development stage</div>
								</div>

								<div class="popup-select-plan-table-price popup-select-plan-table-cell">

									<div class="popup-select-plan-table-price popup-select-plan-table-price-free" >
										<div class="popup-select-plan-table-price-block">
											<span class="popup-select-plan-table-price-block-currency">$</span>
											<span class="popup-select-plan-table-price-block-value">0</span>
											<span class="popup-select-plan-table-price-block-delimiter">/</span>
											<span class="popup-select-plan-table-price-block-period" translate="">mo</span>
										</div>

										<span class="popup-select-plan-table-price-current" ng-show="plan.name == subscription.plan.name" translate="">Current plan</span>

									</div>

								</div>

								<div class="popup-select-plan-table-cell">

									<div class="popup-select-plan-table-feature ng-binding">
										200
										<translate>views</translate>
										<br/>
										<small class="small">(Resets monthly)</small>

										<div class="popup-select-plan-table-cell-views-info tooltip">
											<svg width="2" height="8" viewbox="0 0 2 8">
												<rect y="3" width="2" height="5" rx="1" ry="1"></rect>
												<rect width="2" height="2" rx="1" ry="1"></rect>
											</svg>

											
										</div>
									</div>


									<div class="popup-select-plan-table-feature">

										<span ng-if="plan.name === 'Lite'">Only bug fixes</span>
										<!-- end ngIf: plan.name === 'Lite' -->

									</div>

									<div class="popup-select-plan-table-feature popup-select-plan-table-cell-disable"  translate="">Free installation service</div>

									<div class="popup-select-plan-table-feature popup-select-plan-table-cell-disable"  translate="">CodeStepper logo removal</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>

			<div class="text-center">
				<a target="_blank" href="https://simplepay.hu/wp-content/uploads/2022/03/PaymentService_Fizetesi_tajekoztato_EN.pdf">
					<img src="/public/images/simplepay_otp_bankcard_en_top_new.webp" style="width: 200px"/>
				</a>
			</div>

		{% endif %}

	</div>

</main>
