<div class="d-flex flex-column flex-shrink-0 px-2 text-white bg-dark" style="width: 208px;">
	<ul class="nav nav-pills flex-column py-2">
		<li class="nav-item">
			<a href="/" class="nav-link text-white">
				<i class="fa fa-home mx-1"></i>
				<span>Home</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="/edit" class="nav-link {{activeItem == 'editor' ? 'active' : 'text-white'}}">
				<i class="fa fa-edit mx-1"></i>
				<span>{{isLoggedIn ? "Editor" : "Editor (trial mode)"}}</span>
			</a>
		</li>
		<li>
			{% if not isLoggedIn %}
				<a href="/sign-up" class="nav-link {{activeItem == 'user' ? 'active' : 'text-white'}}">
					<i class="fa fa-user mx-1"></i>
					<span>Sign up for free</span>
				</a>
			{% endif %}
			{% if order.plan == "lite" %}
				<a href="/active-plan" class="nav-link {{activeItem == 'plan' ? 'active' : 'text-white'}}">
					<i class="fa fa-file mx-1"></i>
					<span>Upgrade plan</span>
				</a>
			{% endif %}
			{% if order.plan != "lite" and order.plan is not empty %}
				<a href="/active-plan" class="nav-link {{activeItem == 'plan' ? 'active' : 'text-white'}}">
					<i class="fa fa-file mx-1"></i>
					<span>Current plan:
						{{order.plan | upper}}</span>
				</a>
			{% endif %}
		</li>
		<li>
			<a href="#" class="nav-link {{activeItem == 'support' ? 'active' : 'text-white'}}">
				<i class="fa fa-question mx-1"></i>
				<span>Support</span>
			</a>
		</li>
	</ul>
	<hr>

	<div class="d-flex mb-md-0 text-white text-decoration-none justify-content-center py-2">
		{% if codeSteppers is defined %}
			<span class="fs-4">My projects:</span>
		{% endif %}
	</div>

	{% if codeSteppers is defined %}
		<div class="text-center my-3">
			<form action="/schema" method="POST">
				<button type="submit" class="btn btn-outline-success w-100">
					Add new
					<i class="fa fa-plus"></i>
				</button>
			</form>
		</div>
	{% endif %}

	<ul class="nav nav-pills flex-column" style="display: block; overflow-y: scroll; overflow-x: hidden;">
		{% if codeSteppers is defined %}
			{% for codeStepper in codeSteppers %}
				<li class="px-1">
					<div class="row">
						<a href="/edit/{{codeStepper.slug}}" class="nav-link text-white w-100 d-inline-block {{codeStepper.slug == activeCodeStepperSlug ? 'active' : ''}}">
							{{codeStepper.title}}
						</a>
					</div>
				</li>
			{% endfor %}
		{% endif %}

	</ul>
</div>

<div class="b-example-divider"></div>
